@import "./Base.scss";

h1 {
  font-size: 42px;
}

p {
  font-size: 18px;
}

img#language-toggle {
  transition: all 200ms;

  &:hover {
    cursor: pointer;
    filter: brightness(0.8);
    transition: all 200ms;
  }

  @media only screen and (max-width: 768px) {
    height: 48px;
    width: 48px;
  }
}

.role-label {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  
  a {
    color: #aaa; /* light gray to not overpower */
    text-decoration: none;

  }
}

// .image-container {
//   display: inline-block;
//   padding: 15px;
//   border-radius: 20px;
//   background: rgba(255, 255, 255, 0.1);
//   backdrop-filter: blur(10px);
//   box-shadow: 0 8px 32px rgba(0,0,0,0.3);
// }
img#profile-pic {
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

@media only screen and (max-width: 768px) {
  .no-mobile {
    display: none;
  }

  .mobile {
    display: block;
  }

  // Force navbar to be hidden, seems like we can't add a class to the MUI component?
  #navbar {
    display: none !important;
  }
}
